[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "libs/tinydir"]
	path = libs/tinydir
	url = https://github.com/cxong/tinydir
[submodule "libs/pdcurses"]
	path = libs/pdcurses
	url = https://github.com/wmcbrine/PDCurses
